[submodule "src/microservices/ferrea-datasources"]
	path = src/microservices/ferrea-datasources
	url = https://github.com/Grimoldi/ferrea-datasources
[submodule "src/modules/chassis"]
	path = src/modules/chassis
	url = https://github.com/Grimoldi/pyferrea-chassis
