[submodule "src/microservices/ferrea-datasources"]
	path = src/microservices/ferrea-datasources
	url = https://github.com/Grimoldi/ferrea-datasources
[submodule "src/modules/chassis"]
	path = src/modules/chassis
	url = https://github.com/Grimoldi/ferrea-lib-chassis
[submodule "src/microservices/libraries"]
	path = src/microservices/libraries
	url = https://github.com/Grimoldi/ferrea-libraries
[submodule "adrs"]
	path = adrs
	url = https://github.com/Grimoldi/ferrea-adrs
